@model SearchViewModel
@{
    ViewData["Title"] = "Search";

    var adzunaHidden = Model.AdzunaCheck ? string.Empty : "hidden";
    var githubHidden = Model.GithubCheck ? string.Empty : "hidden";
    var joobleHidden = Model.JoobleCheck ? string.Empty : "hidden";
    var themuseHidden = Model.ThemuseCheck ? string.Empty : "hidden";
}


<div id="search-container">
    <section id="input">
        <form asp-action="Search" method="get">
            <fieldset id="job-boards">
                <legend>Select job boards to include</legend>

                <div>
                    <input asp-for="AdzunaCheck" type="checkbox" />
                    <label asp-for="AdzunaCheck"></label>
                </div>
                <div>
                    <input asp-for="GithubCheck" type="checkbox" />
                    <label asp-for="GithubCheck"></label>
                </div>
                <div>
                    <input asp-for="JoobleCheck" type="checkbox" />
                    <label asp-for="JoobleCheck"></label>
                </div>
                <div>
                    <input asp-for="ThemuseCheck" type="checkbox" />
                    <label asp-for="ThemuseCheck"></label>
                </div>
                <div>
                    <input asp-for="UsajobsCheck" type="checkbox" />
                    <label asp-for="UsajobsCheck"></label>
                    <sup>USA only</sup>
                </div>
                <div>
                    <input asp-for="ReedCheck" type="checkbox" />
                    <label asp-for="ReedCheck"></label>
                    <sup>UK only</sup>
                </div>
            </fieldset>

            <fieldset id="search-params">
                <legend>Enter search parameters</legend>

                <div class="searchParam adzunaReq @adzunaHidden">
                    <span>
                        <span class="red">*</span>
                        <label asp-for="AdzunaCountry"></label>
                        <sup>(for Adzuna)</sup>
                    </span>
                    <select asp-for="AdzunaCountry" asp-items="Model.Countries"></select>
                    <span asp-validation-for="AdzunaCountry" class="validationMessage"></span>
                </div>

                <div class="searchParam themuseReq @themuseHidden">
                    <span>
                        <span class="red">*</span>
                        <label asp-for="ThemuseCategory"></label>
                        <sup>(for The Muse)</sup>
                    </span>
                    <select asp-for="ThemuseCategory" asp-items="Model.ThemuseCategories"></select>
                </div>

                <div class="searchParam">
                    <span>
                        <span class="red joobleReq @joobleHidden">*</span>
                        <label asp-for="Keywords"></label>
                        <sup class="themuseNote @themuseHidden">M</sup>
                    </span>
                    <input asp-for="Keywords" type="text" placeholder=".NET developer" />
                    <span asp-validation-for="Keywords" class="validationMessage"></span>
                </div>

                <div class="searchParam">
                    <label asp-for="Location"></label>
                    <input asp-for="Location" type="text" placeholder="Tempe, AZ" />
                </div>

                <div class="searchParam">
                    <span>
                        <label asp-for="MilesAway"></label>
                        <sup class="githubNote @githubHidden">G</sup>
                        <sup class="themuseNote @themuseHidden">M</sup>
                    </span>
                    <input asp-for="MilesAway" type="number" placeholder="5" />
                    <span asp-validation-for="MilesAway" class="validationMessage"></span>
                </div>

                <div class="searchParam">
                    <span>
                        <label asp-for="MinSalary"></label>
                        <sup class="githubNote @githubHidden">G</sup>
                        <sup class="themuseNote @themuseHidden">M</sup>
                    </span>
                    <input asp-for="MinSalary" type="number" placeholder="75000" />
                    <span asp-validation-for="MinSalary" class="validationMessage"></span>
                </div>

                <div class="searchParam">
                    <div>
                        <input asp-for="FullTimeOnly" type="checkbox" />
                        <span>
                            <label asp-for="FullTimeOnly"></label>
                            <sup class="themuseNote @themuseHidden">M</sup>
                        </span>
                    </div>
                    <div>
                        <input asp-for="PermanentOnly" type="checkbox" />
                        <span>
                            <label asp-for="PermanentOnly"></label>
                            <sup class="githubNote @githubHidden">G</sup>
                            <sup class="themuseNote @themuseHidden">M</sup>
                        </span>
                    </div>
                </div>

                <div class="searchParam">
                    <label asp-for="SortBy"></label>
                    <div>
                        <select asp-for="SortBy" asp-items="Model.SortTypes"></select>
                        <select asp-for="SortDirection" asp-items="Model.SortDirections"></select>
                    </div>
                </div>

                <div id="page-num">
                    <div>
                        <span>
                            <span class="red">*</span>
                            <label asp-for="Page"></label>
                        </span>
                        <input asp-for="Page" type="number" placeholder="1" />
                    </div>
                    <span asp-validation-for="Page" class="validationMessage"></span>
                </div>

                <div>
                    <div id="requirements">
                        <span>
                            <span class="red">*</span>
                            <span>Required</span>
                        </span>
                        <ul>
                            <li class="adzunaReq @adzunaHidden">Adzuna requires a country</li>
                            <li class="themuseReq @themuseHidden">The Muse requires a category</li>
                            <li class="joobleReq @joobleHidden">Jooble requires at least one keyword</li>
                        </ul>
                    </div>

                    <div id="notes">
                        <div class="githubNote @githubHidden">
                            <sup>G</sup>
                            <span>Not supported by GitHub Jobs</span>
                        </div>
                        <div class="themuseNote @themuseHidden">
                            <sup>M</sup>
                            <span>Not supported by The Muse</span>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div id="submit">
                <input type="submit" value="Search" />
            </div>
        </form>
    </section>

    <section id="output">
        @if (Model.Results == null)
        {
            <span>Click "Search" to get started!</span>
        }
        else
        {
            if (Model.Results.Count == 0)
            {
                <span id="no-results">No jobs found :(</span>
            }
            if (Model.FailedRequests.Count > 0)
            {
                <div>
                    There was a problem accessing the following job boards:
                    <ul>
                        @foreach (var jobBoard in Model.FailedRequests)
                        {
                            <li>@jobBoard</li>
                        }
                    </ul>
                    <button id="try-again">Try again?</button>
                </div>
            }
            if (Model.Results.Count > 0)
            {
                <partial name="_JobListPartial" model="Model.Results" />
            }
        }
    </section>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    
    <!-- Show loading spinner on form submit -->
    <script>
        const outputSection = $('section#output');
        function showLoadingSpinner() {
            outputSection.html('<div class="loadingSpinner"></div>');
        }

        $('section#input form').submit(function () {
            if ($(this).valid()) {
                showLoadingSpinner();
            }
        });

        // Try again?: re-submit the previous search
        $('button#try-again').click(function () {
            showLoadingSpinner();
            location.reload();
        });
    </script>

    <!-- Show/hide form requirements on job board check -->
    <script>
        const adzunaReqs = $('.adzunaReq');
        const joobleReqs = $('.joobleReq');
        const themuseReqs = $('.themuseReq');
        const githubNotes = $('.githubNote');
        const themuseNotes = $('.themuseNote');

        $('input#AdzunaCheck').change(function () {
            if (this.checked) {
                adzunaReqs.removeClass('hidden');
            }
            else {
                adzunaReqs.addClass('hidden');
            }
        });
        $('input#JoobleCheck').change(function () {
            if (this.checked) {
                joobleReqs.removeClass('hidden');
            }
            else {
                joobleReqs.addClass('hidden');
            }
        });
        $('input#GithubCheck').change(function () {
            if (this.checked) {
                githubNotes.removeClass('hidden');
            }
            else {
                githubNotes.addClass('hidden');
            }
        });
        $('input#ThemuseCheck').change(function () {
            if (this.checked) {
                themuseReqs.removeClass('hidden');
                themuseNotes.removeClass('hidden');
            }
            else {
                themuseReqs.addClass('hidden');
                themuseNotes.addClass('hidden');
            }
        });
    </script>
}
