@model List<Job>

<table id="job-results">
    <colgroup>
        <col />
        <col id="description" />
        <col />
        <col />
        <col />
        <col />
        <col />
        <col />
    </colgroup>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Created</th>
            <th>Type</th>
            <th>Min Salary</th>
            <th>Max Salary</th>
            <th>Location</th>
            <th>Company</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Model)
        {
            <tr>
                <td>@Html.Raw(job.Title)</td>
                <td>
                    <details>
                        <summary>Click to expand</summary>
                        <hr />
                        <p>@Html.Raw(job.Description)</p>
                    </details>
                </td>
                <td class="createdAt">
                    <time datetime="@job.CreatedAt">
                        <span>@job.CreatedAt.ToShortDateString()</span>
                        <br />
                        @if (job.CreatedAt.TimeOfDay != TimeSpan.Zero)
                        {
                            <span>@job.CreatedAt.ToShortTimeString()</span>
                        }
                    </time>
                </td>
                <td class="jobType">
                    @if (job.Schedule != null)
                    {
                        <span>@job.GetScheduleString()</span>
                        <br />
                    }
                    <span>@job.EmploymentType</span>
                </td>
                <td class="salary">
                    @if (job.MinSalary != null)
                    {
                        <span>@string.Format(job.SalaryCulture.NumberFormat, "{0:C}", job.MinSalary)</span>
                    }
                </td>
                <td class="salary">
                    @if (job.MaxSalary != null)
                    {
                        <span>@string.Format(job.SalaryCulture.NumberFormat, "{0:C}", job.MaxSalary)</span>
                    }
                </td>
                <td>@job.Location</td>
                <td>@job.Company</td>
                <td><a href="@job.URL">Link</a></td>
            </tr>
        }
    </tbody>
</table>
